- data.radfaces.each do |avatar|
  .modal{id: avatar.first_name , style: "display:none"}
    .modal__content
      = image_tag "avatars/#{avatar.image}", alt: avatar.first_name + " " + avatar.last_name, title: avatar.first_name + " " + avatar.last_name
      %h3 #{avatar.first_name + " " + avatar.last_name}
      %p #{avatar.location}
    %a.modal__close-btn
      %i.ion-android-close
