.modal
  position: fixed
  width: 100%
  background: rgba(255,137,93,0.95)
  top: 0
  bottom: 0
  left: 0
  z-index: 1
  +display(flex)
  +justify-content(center)
  +align-items(center)

.modal__content
  max-width: rem(600)
  text-align: center
  h3, p
    margin: 0
    color: white

img
  &.modal__logo
    width: rem(170)
    margin: rem(30) auto
    display: block
  &.modal__avatar
    width: rem(225)
    border-radius: 50%
    border: rem(3) solid white

.modal__close-btn
  position: absolute
  top: rem(30)
  right: rem(30)
  color: rgba(255,255,255,0.8)
  font-size: rem(30)
  +transition(all .3s)
  &:hover
    color: white
    cursor: pointer
