---
title: Avatar Throwback
---

%section.awesomeness
  = partial '/refills/nav'
  .wrapper
    %article
      -30.times do
        = link_to '#', class: 'thumbnail' do
          = image_tag 'avatars/little-pete-wrigley.png'
